.form-flat input:not([type="submit"]), .form-flat textarea, .form-flat select
    border-radius: 5px !important
.search-field
    height: 50px !important
    background-color: rgb(247, 247, 247) !important
.icon-shopping-cart:before
    width: 30px !important
    height: 30px !important
.header-button .button.icon i
    font-size: 2.2em !important
    padding: 10px !important

