.brandLogo
    img
        height: 90px
        width: 100%
        object-fit: contain

.brand_btn
    margin-top: 20px !important
    &_bg
        height: 90px
        text-align: center
        align-items: center
        border-radius: 5px
        &_col
            border-radius: 5px
            

