.page-title 
    background-color: #f7f7f7
    border-top: 1px solid lightgray
    border-bottom: 1px solid lightgray
.page-title-inner 
    padding-top: 0 !important
.goodsFeatures_icon
    width: 56px
    height: 56px
.single_add_to_cart_button
    background-color: #ffba00 !important
    border-radius: 5px !important
